@model FitnessBourne.Models.FitnessClub

@{
    ViewBag.Title = "HomeIndex";
}

<div class="row oddBlock">
    <div class="col-sm-8 col-sm-offset-2">
        <span><b>FITNESS</b><b>BOURNE</b></span>
        <img src=""/>
        <span>Welcome to the leading fitness community in Melbourne. Gear up and choose your club and join many other
        sporty youthfull members like you. If you are already a Member, join many fun activities open to the members
        of that club or the events organised by your fitness buddies.</span>
    </div>
</div>

